/* .css */
body {background-color: white;}
header {
	background-color: black;
	background: linear-gradient(to right, #444444, #999999);

}
.navbar-collapse .container .nav .imagen{
	width: 100px;
	height: 50px;
}
.navbar-collapse{
	font-family: serif;
	font-size: 18px;
}

.container
{	
	color: white;
	
}

.jumbotron
{
	color: white;
	background-image: url(10c.jpg);
}

#Carousel
{
	width: 500px;
	margin-top: -30px;
    margin-bottom: 50px;
    margin-left: 0px;
	
	border-width: 3px;
	border-style: solid;
	border-radius: 15px;

}

#Carousel .carousel-inner 
{
	border-radius: 3%;
}

.post
{
	margin-left: 550px;
	margin-top: -450px;
}

.post .hidden-xs
{
	width: 300px;
	margin-bottom: 40px;
	margin-right: 10px;
	margin-top: -1500px;
}


.post-title
{
	margin-top: -500px;
}


.post-contenido
{
	margin-right: 15px;
	margin-left: 320px;
}

.info .foto
{
	margin-left: 200px;
	width: 300px;
	margin-bottom: 30px;
	margin-top: -700px;
	
}

.info-title
{
	width: 50px;
	margin-bottom: -40px;
	margin-left: 550px;
	margin-top: -580px;
}

.info-contenido
{
	margin-right: 20px;
	margin-top: 60px;
	margin-left: 870px
}


.columna
{
	margin-right: 1000px;
	margin-left: 10px;
}

.container2
{
	margin-top: 50px;
	margin-right: 700px;
	margin-left: 20px;
}